.customStickerContainer {
    height: 100%;
    overflow: hidden;
    background: linear-gradient(to bottom, #7cd0d5,#FFF9EB,#FFF9EB,#FFF9EB,#FFD6B8);
}

.topIllustration{
    width: 100%;
    height: 125px;
    top: 32px;
    position: absolute;   
}

@keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
}

#animate-area   { 
    background-image: url(images/illustration_top.png);
    // background-position: 0px 0px;
    // background-repeat: repeat-x;
    // animation: animatedBackground 20s linear infinite;
}


.bottomIllustration{
    background: url(images/illustration_lower.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 49px;
    bottom: 0px;
    position: absolute;   
}

.customStickerFtueWrapper{
    
}

.customStickerHeaderImage{
    background: url(images/customStickerHeader.gif);
    -webkit-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 250px;
    height: 190px;
    margin: 0px auto;
}

.hideClass{
    display: none !important; 
}

.customStickerDetail{
    font-size: 16px;
    color: rgba(61,71,91,0.64);
    font-weight: 400;
    margin-top: 40px;
    padding: 0px 35px;
    line-height: 21px;
}

.customStickerButton{
    background: #00AFFF;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 12px 40px;
    margin: 24px auto 24px auto;
    text-transform: uppercase;
    width: 11%;
    border-radius: 4px;     
}

.customStickerFaq{
    color: rgba(61,71,91,0.64);
    font-size: 14px;
    font-weight: 500; 
}

.customStickerUploadScreen{
    margin-top: 80px; 
}

.uploadPhotoContainer{
    border: 1px dotted #CFCFCF;
    width: 160px;
    height: 160px;
    -webkit-border-radius: 50%; 
    border-radius: 50%;    
    margin: 0px auto;
    display: flex;
}

.uploadPhoto{
    background: url(images/takeSnap.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 72px;
    height: 48px;
    margin: auto; 
}

.customStickerText select{
    font-size: 14px;
    color: rgba(61, 71, 91, 0.64);
    font-weight: 400;
}

.customStickerText{
    margin-left: 27px;
    margin-top: 32px;
    border-bottom: 1px dotted #eee;
    width: 85%;
    padding-bottom: 8px;
}

input::-webkit-input-placeholder {
color: rgba(61,71,91,0.64) !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: rgba(61,71,91,0.64) !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: rgba(61,71,91,0.64) !important;  
}
 
input:-ms-input-placeholder {  
color: rgba(61,71,91,0.64) !important;  
}

.customStickerUploadScreen input{
    margin-left: 27px;
    margin-top: 27px;
    background: none;
    border: none;
    font-size: 14px;
    padding-bottom: 10px;
    color: rgba(61,71,91,0.64);
    width: 85%;
    border-bottom: 1px dotted #eee;
}

.errorMessage{
    text-align: center;
    font-size: 12px;
    color: #FF667A;
    margin-top: 12px;
}

.sendButton{
    background: #00AFFF;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 12px 40px;
    margin: 24px auto 24px auto;
    text-transform: uppercase;
    width: 11%;
    border-radius: 4px;     
}

.customStickerSent{
    
}

.successSentImage{
    background: url(images/customStickerSendSuccess.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 192px;
    height: 120px;
    margin: auto;
}

.successSentText{
    font-size: 16px;
    color: rgba(61,71,91,0.64);
    font-weight: 400;
    margin-top: 40px;
    padding: 0px 35px;
    line-height: 21px;
}

.successSentAction{
    background: #00AFFF;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 12px 40px;
    margin: 24px auto 24px auto;
    text-transform: uppercase;
    width: 11%;
    border-radius: 4px;
}

.customStickerStatusCheck{
    
}

.statusHeaderImage{
    background: url(images/stickerProgress.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 270px;
    height: 170px;
    margin: auto;
}

.statusText{
    padding: 10px 36px;
    font-size: 16px;
    color: rgba(61, 71, 91, 0.64);
    line-height: 21px;
    margin-bottom: 20px;
    margin-top:24px;
}

.customStickerReadyState{
    
}

.customStickerView{
    background: url(images/customStickerSendSuccess.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 175px;
    height: 175px;
    margin: auto;
}

.customStickerShareText{
    padding: 10px 36px;
    font-size: 16px;
    color: rgba(61, 71, 91, 0.64);
    line-height: 21px;
    margin-bottom: 20px;
}

.customStickerShareAction{
    background: #00AFFF;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 12px 40px;
    margin: 24px auto 24px auto;
    text-transform: uppercase;
    width: 11%;
    border-radius: 4px;
}

.customStickerHistory{
    padding: 32px 20px 0px 20px; 
}

.customStickerIcon{
    display: inline-block;
    vertical-align: middle;
    background-size: contain;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.customStickerRow{
    list-style: none;
    margin-bottom: 16px;
    padding-bottom: 16px;
}

.customStickerDetails{
    display: inline-block;
    vertical-align: middle; 
}

.stickerPhrase{
    font-size: 16px;
    color: #3D475B;
    margin-bottom: 7px;
}

.stickerOrderDate{
    font-size: 12px;
    color: rgba(61, 71, 91, 0.64);
}

.statusIconcompleted{
    background: url(images/stickerPackDownloaded.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 18px;
    height: 12px;
    display: inline-block;
    right: 22px;
    margin-top: 18px;
    position: absolute;
}

.statusIconin_progress{
    background: url(images/stickerPackDownload.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
    right: 22px;
    margin-top: 18px;
    position: absolute;
}

#profilePicLoader {
  position: absolute;
  border: 4px solid #1da8e8;
  top: -3px;
  left: -3px;
  height: 104%;
  width: 104%;
  border-radius: 50%; }

.picLoader {
  border-top: 8px solid transparent !important;
  border-radius: 999px !important;
  -webkit-animation: spin 0.8s infinite; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }



