.wheel-wrapper {
    position: absolute;
    top: 35%;
    left: 50%;
    height: 200px;
    width: 200px;
    margin: -100px;
}

.wheel-wrapper .needle {
    position: absolute;
    z-index: 4;
    left: 50%;
    top: 0;
    height: 0;
    width: 0;
    margin: -26px -5px;
    border: 0 solid transparent;
    border-width: 40px 5px 0;
    border-top-color: #F06565;
}

.wheel {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 200px;
    width: 200px;
    margin: -100px;
    border-radius: 100%;
    -webkit-transition: -webkit-transform 5s cubic-bezier(0.43, -0.31, 0.11, 0.86);
    transition: -webkit-transform 5s cubic-bezier(0.43, -0.31, 0.11, 0.86);
    transition: transform 5s cubic-bezier(0.43, -0.31, 0.11, 0.86);
    transition: transform 5s cubic-bezier(0.43, -0.31, 0.11, 0.86), -webkit-transform 5s cubic-bezier(0.43, -0.31, 0.11, 0.86);
}

.wheel:before {
    content: '';
    position: absolute;
    z-index: 2;
    height: inherit;
    width: inherit;
    top: 90px;
    left: 90px;
    margin: inherit;
    border-radius: inherit;
    border: 10px solid #fff;
    box-shadow: 0 0 0 3px #fff;
    pointer-events: none;
}

.wheel:after {
    content: '';
    position: absolute;
    z-index: 2;
    height: 50px;
    width: 50px;
    top: inherit;
    left: inherit;
    margin: -25px;
    border-radius: inherit;
    background: #FFFBEF;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5) inset;
    pointer-events: none;
}

.wheel .cutter {
    position: absolute;
    z-index: 0;
    height: inherit;
    width: inherit;
    top: inherit;
    left: inherit;
    margin: inherit;
    border-radius: inherit;
    clip: rect(0, 100px, 100px, 0);
}

.wheel .cutter:nth-child(1) {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
}

.wheel .cutter:nth-child(1) .slicer {
    background-color: #A6CEF0;
}

.wheel .cutter:nth-child(2) {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
}

.wheel .cutter:nth-child(2) .slicer {
    background-color: #F6A4BE;
}

.wheel .cutter:nth-child(3) {
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    transform: rotate3d(0, 0, 1, 90deg);
}

.wheel .cutter:nth-child(3) .slicer {
    background-color: #8FF1CD;
}

.wheel .cutter:nth-child(4) {
    -webkit-transform: rotate3d(0, 0, 1, 135deg);
    transform: rotate3d(0, 0, 1, 135deg);
}

.wheel .cutter:nth-child(4) .slicer {
    background-color: white;
}

// .wheel .cutter:nth-child(4) .slicer div:nth-child(1) {
//     font-size: 9px;
// }

// .wheel .cutter:nth-child(4) .slicer div:nth-child(2) {
//     font-size: 7px;
// }

.wheel .cutter:nth-child(5) {
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
    transform: rotate3d(0, 0, 1, 180deg);
}

.wheel .cutter:nth-child(5) .slicer {
    background-color: #D7FFA8;
}

.wheel .cutter:nth-child(6) {
    -webkit-transform: rotate3d(0, 0, 1, 225deg);
    transform: rotate3d(0, 0, 1, 225deg);
}

.wheel .cutter:nth-child(6) .slicer {
    background-color: #F6A4BE;
}

.wheel .cutter:nth-child(7) {
    -webkit-transform: rotate3d(0, 0, 1, 270deg);
    transform: rotate3d(0, 0, 1, 270deg);
}

.wheel .cutter:nth-child(7) .slicer {
    background-color: #C0FFA8;
}

.wheel .cutter:nth-child(8) {
    -webkit-transform: rotate3d(0, 0, 1, 315deg);
    transform: rotate3d(0, 0, 1, 315deg);
}

.wheel .cutter:nth-child(8) .slicer {
    color: #fff;
    background-color: black;
}

.wheel .cutter .slicer {
    position: absolute;
    height: inherit;
    width: inherit;
    top: inherit;
    left: inherit;
    margin: inherit;
    border-radius: inherit;
    clip: rect(0, 100px, 100px, 0);
    color: #000;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
}

.wheel .cutter .part {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: wrap;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 66.66px;
    width: 78.5px;
    top: 0;
    left: 0;
    margin: 0;
    padding-top: 0.5em;
    border-radius: inherit;
    background-color: inherit;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: rotate3d(0, 0, 1, -67.5deg) translate3d(-33.33px, 66.66px, 0);
    transform: rotate3d(0, 0, 1, -67.5deg) translate3d(-33.33px, 66.66px, 0);
}

.wheel .cutter .part div {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.wheel .cutter .part div:nth-child(1) {
    font-size: 20px;
}

.wheel .cutter .part div:nth-child(2) {
    font-size: 16px;
}

.wheel .cutter .part div:nth-child(3) {
    font-size: 12px;
}

.wheel .cutter .part div:nth-child(4) {
    font-size: 8px;
}

.wheel .cutter .part div:nth-child(5) {
    font-size: 6px;
}

.wheel .cutter .part div:nth-child(6) {
    font-size: 6px;
}

.wheel .cutter .part div:nth-child(7) {
    font-size: 6px;
}

.wheel .cutter .part div:nth-child(8) {
    font-size: 6px;
}

.spin {
    text-align: center;
    margin-top: 20px;
    color: #1da8e8;
    cursor: pointer;
}


.mysteryBoxMessageSpin{
  color: rgba(61, 71, 91, 0.64);
    font-size: 14px;
    font-weight: 400;
    padding: 20px 24px 0px 24px;
    text-align: center;
    line-height: 21px;
}

.mysteryRewardBumperAction{
    margin-top: 24px;
    font-size: 15px;
    border: 1px solid #EAC6A4;
    color: #E49F5C;
    font-weight: 500;
    display: inline-block;
    border-radius: 4px;
    padding: 12px 32px;
    text-transform: uppercase;
}
