.workSpaceContainer {
    height: 100%;
    overflow: hidden;
    background: linear-gradient(to bottom, #7cd0d5, #FFF9EB, #FFF9EB, #FFF9EB, #FFD6B8);
}

.topIllustration {
    width: 100%;
    height: 125px;
    top: 32px;
    position: absolute;
    z-index: -100;
}

@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}

#animate-area {
    background-image: url(images/illustration_top.png);
    // background-position: 0px 0px;
    // background-repeat: repeat-x;
    // animation: animatedBackground 20s linear infinite;
}

.bottomIllustration {
    background: url(images/illustration_lower.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 49px;
    bottom: -6px;
    position: absolute;
    z-index: 0;
}

.ninjaPhotoContainer {
    display: inline-flex;
    margin-top: 60px;
}

.ninjaStreak {
    margin: 28px 25px 0px 0px;
}

.ninjaBattery {
    margin: 28px 0px 0px 25px;
}

.ninjaBatteryIcon {
    background: url(images/batteryIcon.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 19px;
    height: 16px;
    display: inline-flex;
    vertical-align: middle;
}

.ninjaBatteryValue {
    display: inline-flex;
}

.ninjaStreakIcon {
    background: url(images/streakIcon.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 13px;
    height: 11px;
    display: inline-block;
}

.ninjaStreakValue {
    display: inline-block;
}

.rewardsContainer {
    padding: 30px 0px 30px 20px;
}

.ninjaProfileIcon {
    background-size: contain;
    background-repeat: no-repeat;
    width: 75px;
    height: 75px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.ninjaName {
    color: #3D475B;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}

.commonDv {
    margin-top: 33px;
}

.rewardRow {
    list-style: none;
    margin-bottom: 16px;
    padding-bottom: 16px;
}

.rewardIcon {
    background: url(images/giftSample.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    display: inline-block;
    background-position: center;
    vertical-align: middle;
}

.rewardDetails {
    display: inline-block;
    margin-left: 18px;
    vertical-align: middle;
}

.rewardHeading {
    font-size: 16px;
    color: #3D475B;
    margin-bottom: 7px;
    font-weight: 500;
}

.rewardHeadingLocked {
    color: transparent !important;
    background: #acacac !important;
    height: 13px;
    opacity: 0.2;
    width: 62%;
}

.rewardSubheading {
    font-size: 12px;
    color: rgba(61, 71, 91, 0.64);
    width: 120%;
}

.rewardSubheadingLocked {
    color: transparent !important;
    background: #acacac !important;
    height: 9px;
    opacity: 0.2;
}

.mysteryBoxIcon {
    background: url(images/mysteryPack.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 108px;
    height: 108px;
    margin: 20px auto 24px auto;
}

#clockdiv {
    color: #E49F5C;
    display: inline-block;
    font-weight: 300;
    text-align: center;
    font-size: 29px;
    border: 1px solid #F0D6BD;
    box-shadow: 0px 1px 3px 0px #FFFFFF;
    border-radius: 10px;
    padding: 16px 21px;
}

#clockdiv > div {
    border-radius: 3px;
    display: inline-block;
}

#clockdiv div > span {
    display: inline-block;
    margin: 0px 6px;
}

.smalltext {
    font-weight: 400;
    color: #3D475B;
    font-size: 12px;
    padding-top: 12px;
}

.mysteryBoxMessage {
    margin: 26px auto 0px auto;
    text-transform: uppercase;
    color: rgba(61, 71, 91, 0.64);
    font-size: 13px;
    font-weight: 400;
}

// Activity Tab Contianer Here
.activityContainer {
    //margin-top: 24px;
}

.seperator {
    background: rgba(0, 0, 0, 0.05);
    height: 1px;
    margin: 0px;
    border: none;
    padding: 0px;
}

.leaderboardWrapper {
    margin: 24px 0px 38px 24px;
}

.listRow {
    display: inline-block;
    float: left;
}

::-webkit-scrollbar {
    display: none;
}

.topList {
    width: 47em;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.topNinjas {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.leaderboardHeading {
    color: rgba(61, 71, 91, 0.64);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
}

.listRow {
    margin-right: 32px;
}

.userName {
    font-size: 12px;
    color: #3D475B;
    font-weight: 400;
    margin-top: 6px;
}

.userIcon {
    background: url(images/ninjaProfile.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.statTypeContainer {
    padding: 24px;
    margin-bottom: 24px;
}

.statHeading {
    font-size: 14px;
    color: rgba(61, 71, 91, 0.64);
    margin-bottom: 20px;
}

.statBoxWrapper {
    padding-left: 12px;
    width: 40%;
    display: inline-block;
    margin-bottom: 28px;
}

.statBoxFloatLeft {
    float: left;
}

.statBoxFloatRight {
    float: right;
}

.statValue {
    font-size: 32px;
    color: #3D475B;
    font-weight: 300;
}

.settingsWrapper {
    margin-bottom: 14px;
    text-align: center;
}

.optionOne,
.optionTwo,
.optionThree {
    font-size: 12px;
    color: #3D475B;
    font-weight: 300;
    display: inline-block;
}

.twoSideMargin {
    margin-left: 8px;
    margin-right: 8px;
}

.selectedTime {
    background: #3D475B;
    color: #fff;
}

.statTimePeriod {
    display: inline-block;
    border: 1px solid #3D475B;
    border-radius: 20px;
    text-align: center;
    padding: 6px 14px;
    width: 20%;
}

.statText {
    font-size: 12px;
    color: rgba(61, 71, 91, 0.40);
    margin-top: 4px;
}

.rewardStreakWrapper {
    display: inline-block;
    float: right;
    margin-right: 16px;
    vertical-align: middle;
    line-height: 35px;
}

.rewardStreakIcon {
    background: url(images/streakIcon.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 13px;
    display: inline-block;
    height: 11px;
}

.rewardStreakValue {
    font-size: 14px;
    color: rgba(61, 71, 91, 0.64);
    font-weight: 500;
    display: inline-block;
}

.tabIconLuckyBox {
    background: url(images/tabLuckyBoxIcon.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 22px;
    height: 20px;
    margin: 0px auto 8px auto;
}

.tabIconRewards {
    background: url(images/tabRewardIcon.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 22px;
    height: 20px;
    margin: 0px auto 8px auto;
}

.tabIconStats {
    background: url(images/tabStatIcon.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 22px;
    height: 20px;
    margin: 0px auto 8px auto;
}