<div id="animate-area" class="topIllustration animate-area"></div>
<div class="bottomIllustration"></div>
<div class="customStickerUploadScreen">
    {{#newStickerEligibility}}
        <div class="uploadPhotoContainer">
            <div class="uploadPhoto"></div>
        </div>
        <!-- <div id="profilePicLoader"> -->
        <div class="customStickerText">
            <!-- <select id="textLanguage">
                <option value="">Select your sticker language</option>
                <option value="english">English</option>
                <option value="hindi">Hindi</option>
                <option value="marathi">Marathi</option>
                <option value="malyalam">Malyalam</option>
            </select> -->
        </div>
        <input id="customStickerTextPhrase" type="text" placeholder="Type your sticker text" id="stickerPhrase" onpaste="return false" required value="">
        <div class="errorMessage hideClass">If any error message on this screen</div>
        <div class="sendButton">Send</div>
    {{/newStickerEligibility}}
    <div class="customStickerHistory">
        <ul>
            {{#customStickersList}}
                <li class="customStickerRow" data-id="{{id}}" data-status="{{status}}" data-url="{{url}}">
                    <div class="customStickerIcon"></div>
                    <div class="customStickerDetails">
                        <p class="stickerPhrase">{{phrase}}</p>
                        <p class="stickerOrderDate">Order date - {{ts}}</p>
                    </div>
                    <div class="statusIcon{{status}}"></div>
                </li>
            {{/customStickersList}}
        </ul>
    </div>
</div>
<div class="customStickerWrapper centerToScreenWrapper align-center">
    <div class="customStickerFtueWrapper hideClass">
        <div class="customStickerHeaderImage"></div>
        <div class="customStickerDetail">Get your own sticker made by Hike and share it with your friends.</div>
        <div class="customStickerButton">Start</div>
        <div class="customStickerFaq">FAQs</div>
    </div>
    <div class="customStickerSent hideClass">
        <div class="successSentImage"></div>
        <div class="successSentText">Successfully sent, you will receive this sticker within 3-4 weeks. You can come back here to check your sticker status.</div>
        <!-- <div class="successSentAction">Check Status</div> -->
    </div>
    <div class="customStickerStatusCheck hideClass">
        <div class="statusHeaderImage"></div>
        <div class="statusText">We believe in making beautiful sticker. Your sticker will approximately take 3-4 weeks. Keep checking!</div>
    </div>
    <div class="customStickerReadyState hideClass">
        <div class="customStickerView"></div>
        <div class="customStickerShareText">Hey Your sticker is ready and good to go, let's surprise your friends by sending it to them!</div>
        <div class="customStickerShareAction">Send</div>
    </div>
</div>
</div>
