<div id="spin" class="spin">SPIN</div>
<div id="result" class="result"></div>
<div class="mysteryBoxMessageSpin">Spin the wheel to unlock the surprise. Only one Ninja per day wins the grand prize.</div>
<div class="wheel-wrapper">
  <div class="needle"></div>
  <div id="wheel" class="wheel">
    <div class="cutter">
      <div class="slicer">
        <div class="part" data-slice="8" data-reward=""><div>8</div></div>
      </div>
    </div>
    <div class="cutter">
      <div class="slicer">
        <div class="part" data-slice="7" data-reward=""><div>7</div></div>
      </div>
    </div>
    <div class="cutter">
      <div class="slicer">
        <div class="part" data-slice="6" data-reward=""><div>6</div></div>
      </div>
    </div>
    <div class="cutter">
      <div class="slicer">
        <div class="part" data-slice="5" data-reward=""><div>5</div></div>
      </div>
    </div>
    <div class="cutter">
      <div class="slicer">
        <div class="part" data-slice="4" data-reward=""><div>4</div></div>
      </div>
    </div>
    <div class="cutter">
      <div class="slicer">
        <div class="part" data-slice="3" data-reward=""><div>3</div></div>
      </div>
    </div>
    <div class="cutter">
      <div class="slicer">
        <div class="part" data-slice="2" data-reward=""><div>2</div></div>
      </div>
    </div>
    <div class="cutter">
      <div class="slicer">
        <div class="part" data-slice="1" data-reward=""><div>1</div></div>
      </div>
    </div>
  </div>
</div>