<div class="uploadParent mysteryBoxUploadParent">
    <div class="uploadPhotoContainer mysteryBoxUploadPhotoContainer">
        <div class="uploadPhoto mysteryBoxUploadPhoto"></div>
    </div>
    <div class="customStickerText mysteryBoxCustomStickerText">
    </div>
    <input id="customStickerTextPhrase mysteryBoxCustomStickerTextPhrase" type="text" placeholder="Type your sticker text" id="stickerPhrase" onpaste="return false" required value="">
    <div class="mysteryBoxCustomStickerErrorMessage errorMessage hideClass">If any error message on this screen</div>
    <div class="sendButton mysteryBoxcustomStickerSendButton">Send</div>
</div>
