<div id="spin" class="spin">SPIN</div>
<div id="result" class="result"></div>
<div class="mysteryBoxMessageSpin">Spin the wheel to unlock the surprise. Only one Ninja per day wins the grand prize.</div>
<div class="wheel-wrapper">
  <div class="needle"></div>
  <div id="wheel" class="wheel">
    <div class="cutter">
      <div class="slicer">
        <div class="part"><div>8</div></div>
      </div>
    </div>
    <div class="cutter">
      <div class="slicer">
        <div class="part"><div>7</div></div>
      </div>
    </div>
    <div class="cutter">
      <div class="slicer">
        <div class="part"><div>6</div></div>
      </div>
    </div>
    <div class="cutter">
      <div class="slicer">
        <div class="part"><div>5</div></div>
      </div>
    </div>
    <div class="cutter">
      <div class="slicer">
        <div class="part"><div>4</div></div>
      </div>
    </div>
    <div class="cutter">
      <div class="slicer">
        <div class="part"><div>3</div></div>
      </div>
    </div>
    <div class="cutter">
      <div class="slicer">
        <div class="part"><div>2</div></div>
      </div>
    </div>
    <div class="cutter">
      <div class="slicer">
        <div class="part"><div>1</div></div>
      </div>
    </div>
  </div>
</div>