{{#ninjaRewardsCollection}}
<li class="rewardRow" data-rewardId="{{id}}" data-state="{{state}}" data-rewardtype="{{type}}">
    <div class="rewardIcon"></div>
    <div class="rewardDetails">
        <p class="rewardHeading    {{^state}}{{#lockedGreyout}}rewardHeadingLocked{{/lockedGreyout}}{{/state}}">{{title}}</p>
        <p class="rewardSubheading {{^state}}{{#lockedGreyout}}rewardSubheadingLocked{{/lockedGreyout}}{{/state}}">{{stitle}}</p>
    </div>
    {{#streak}}
    <div class="rewardStreakWrapper">
        <div class="rewardStreakIcon"></div>
        <div class="rewardStreakValue">{{streak}}</div>
    </div>
    {{/streak}}
</li>
{{/ninjaRewardsCollection}}