<div class="stickerCooldownContainer">
    <div class="stickerRewardCooldown">
        <div id="clockdiv">
            <div>
                <span class="days"></span>
                <div class="smalltext">Days</div>
            </div>
            <div>
                <span class="hours"></span>
                <div class="smalltext">Hrs</div>
            </div>
            <div>
                <span class="minutes"></span>
                <div class="smalltext">Mins</div>
            </div>
            <div>
                <span class="seconds"></span>
                <div class="smalltext">Secs</div>
            </div>
        </div>
    </div>
    <div class="stickerCooldownMessage">Only one sticker pack can be redeemed within X hours, Please try again later.</div>
</div>
